flows 1.json
[{"id":"5450a958.aaded8","type":"tab","label":"Flow 8","disabled":false,"info":""},{"id":"9d48a1e.e98e46","type":"http in","z":"5450a958.aaded8","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":80,"y":240,"wires":[["a374dd25.c8e46","457629e7.206a08"]]},{"id":"a374dd25.c8e46","type":"function","z":"5450a958.aaded8","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":260,"wires":[["be4ee483.147308"]]},{"id":"be4ee483.147308","type":"rpi-gpio out","z":"5450a958.aaded8","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":440,"y":320,"wires":[]},{"id":"457629e7.206a08","type":"function","z":"5450a958.aaded8","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":160,"wires":[["fd7be876.d17868","499a9755.93fe38"]]},{"id":"fd7be876.d17868","type":"http response","z":"5450a958.aaded8","name":"","statusCode":"","headers":{},"x":870,"y":200,"wires":[]},{"id":"499a9755.93fe38","type":"debug","z":"5450a958.aaded8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":420,"wires":[]},{"id":"6ef8a322.f6bafc","type":"http in","z":"5450a958.aaded8","name":"clear GPIO5","url":"/clear","method":"get","upload":false,"swaggerDoc":"","x":70,"y":400,"wires":[["5a9abdc3.e17824","797a848.3d9347c"]]},{"id":"5a9abdc3.e17824","type":"function","z":"5450a958.aaded8","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":380,"wires":[["be4ee483.147308"]]},{"id":"797a848.3d9347c","type":"function","z":"5450a958.aaded8","name":"Return Status","func":"msg.payload = \"GPIO set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":500,"wires":[["fd7be876.d17868","499a9755.93fe38"]]}]