flows 2.json
[{"id":"d3460459.68fa78","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"f60a1b70.ea95d8","type":"http in","z":"d3460459.68fa78","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":170,"y":220,"wires":[["3c55a34d.25fd9c"]]},{"id":"f97d996f.1a7098","type":"rpi-gpio in","z":"d3460459.68fa78","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":170,"y":300,"wires":[["1496ca35.e0d756"]]},{"id":"1496ca35.e0d756","type":"function","z":"d3460459.68fa78","name":"Set GPIO","func":"globlal.set(\"GPIO\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":300,"wires":[["179775ee.0c3a7a"]]},{"id":"3c55a34d.25fd9c","type":"function","z":"d3460459.68fa78","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":220,"wires":[["fd172587.3d0198","179775ee.0c3a7a"]]},{"id":"fd172587.3d0198","type":"http response","z":"d3460459.68fa78","name":"","statusCode":"","headers":{},"x":570,"y":180,"wires":[]},{"id":"179775ee.0c3a7a","type":"debug","z":"d3460459.68fa78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":280,"wires":[]}]